<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource ="db/mybatis/SqlMapConfig.properties"/>
	<typeAliases>
		<typeAlias alias="memVO" type="member.model.MemberVO" />
		<typeAlias alias="boardVO" type="board.model.BoardVO"/>
		<typeAlias alias="boardKindVO" type="board.model.Board_kindVO"/>
		<typeAlias alias="replyVO" type="board.model.ReplyVO"/>
		<typeAlias alias="fileVO" type="board.model.AdFileVO"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="db/mybatis/sqlMap/member.xml"/>
    <mapper resource="db/mybatis/sqlMap/board.xml"/>
  </mappers>
</configuration>